/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #459799;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: flex-start; /* top align */
   
    min-height: 100vh; /* screen height cover kare */
}

.main-page {
    width: 80vw;           /* full width ka 80% */
    height: 100vh;         /* full screen height */
    background-color: #f6f7f8;
    border-radius: 20px;
    
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    
}

/* Navigation */
nav {
    text-align: center;
    margin-bottom: 20px;
    background-color: #29825b;
    height: 7vh;
    width: 80vw;
}

nav h1 {
    font-size: 28px;
    color: #000000;
}

/* Content Paragraph */
.content p {
    font-size: 20px;
    margin-bottom: 20px;
   
    color: #262424;
}

/* Counter Boxes */
.counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}

.counter2 {
    display: flex;
    gap: 240px;
    align-items: center;
    
}
.box1 {
    background-color: #ffffff;
    
    width: 120px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s;
    
}
#num{
    margin-left: 322px;
}

#box6{
    width:160px ;
}
#box7{
    width:160px ;
}
.box1 h1 {
    font-size: 40px;
    color: #000000;
}

/* Text in Counter */
.text h1 {
    font-size: 20px;
    color: #000000;
    padding: 0 10px;
}

/* More/Less labels */
.box1 h1:first-child {
    color: #ffffff; /* More - Green */
}

.box1 h1:last-child {
    color: #000000; /* Less - Red */
}

/* Images Container */
.com {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.box2 {
    display: flex;
    gap: 50%;
    margin-right: 300px;
}

.box2 img {
    width: 350px;
    height: 350px;
    object-fit:contain;
    
}



